.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 17%;
  width: 100%;
}

.whats-the-scoop {
  font-size: 2em;
  color: indigo;
}

.header-mid {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1em;
}

.todays-news{
  font-size: 1.33em;
}